* {
    margin: 0;
    box-sizing: border-box;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border: 1px solid;
        width: 365px;
        height: 300px;
        justify-content: center;
        label {
            padding: 10px;
        }
        button {
            margin: 10px;
        }
      }
  }
  
  
  